*
{
    box-sizing: border-box;
}

body
{
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

.nav 
{
    padding: 10px;
    position: fixed;
    top: -20px;;
    left: 0px;
    right: 0px;
    height: 100px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav .name img
{
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;
    transition: .2s;
}

.nav ul li a:hover
{
    cursor: pointer;
}

.nav ul li:after
{
    content: '';
    height: 2px;
    width: 0px;
    background: #38abab;
    border-radius: 10px;
    position: absolute;
    margin-top: -2px;   
}

.nav ul li:hover:after
{
    width: 80px;
    margin-left: 0px;
    margin-right: 80px;
    transition: 0.2s;
} 
.nav ul
{
    margin: 0;
    padding: 0;  
    display: flex;
    margin-left: 620px;
    margin-top: 45px;
}

.nav ul li 
{
    list-style: none;
    display: inline;
    margin: 30px;
}

.nav ul li a
{
    color: black;
    display: block;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;  
}

.nav .boxLogin li
{
    list-style: none;
    margin-top: 5px;
}

.nav .boxLogin li a
{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none; 
    text-align: center; 
}

.nav .boxLogin
{
    margin-right: 30px;
    background-color: #38abab;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    margin-top: 26px;
    transition: transform .5s;
    text-align: center;
}

.nav .boxLogin:hover
{
    transform: scale(1.1);
    transition: transform .5s;

}

.products-dropdown
{
    position: relative;
    display: inline-block;
}

.products-content
{
    display: none;
    position: absolute;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: -10px;
    border-radius: 5px;
    margin-left: -5px;
    z-index: 10000;
}

.products-content a:hover 
{
    color: #38abab;
}

.p-toggle:hover .products-dropdown .products-content 
{
    display: block;
}


.hamburger-button 
{
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    font-size:xx-large;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#check
{
    display: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width : 600px)
{
    .hamburger-button
    {
        display: flex;
    }

    .nav .linksnav 
    {
        width: 100%;
        display: none;
        transition: .5s;
    }

    .nav ul li:after
    {
   
    background: white;
      
    }

    .nav ul li:hover:after
    {
    width: 80px;
    margin-left: -10px;
    margin-right: 80px;
    transition: 0.2s;
    } 

    .nav
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul
    {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        background-color: #38abab;
        text-align: center;
    }

    .nav ul li
    {
        text-align: center;
    }

    .nav ul li a
    {
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: -5%;
    }

    .products-dropdown
    {
        margin-left: -80px;
        z-index: 1000;
    }
    .products-dropdown .products-content a 
    {
        color: black;
    }

    .products-content a:hover 
    {
        color: #38abab;
    }

    .nav .boxLogin
    {
        background-color: #38abab;
        border-radius: 0px;
        height: 300px;
        width: 100%;
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 20px;
        display: none;
        transition: .5s;
    }
    
    .nav .boxLogin li a
    {

        margin-left: 207px;
        margin-right: 207px;
        margin-top: -50px;
        margin-bottom: 50px;  
        text-align: center;
        color: white;
    }

    .nav .boxLogin:hover
    {
        transform: scale(1.0);
    }   

    .nav .boxLogin li
    {
        transition: .5s;
    }
    .nav .boxLogin li:hover
    {
        transform: scale(1.1);
        transition: .5s;

    }
    /* .linksnav.active
    {
        display: flex;
    }
    .boxLogin.active
    {
        display: flex;
    } */

    #check:checked ~ .linksnav
    {
        
        display: flex;
    }
    #check:checked ~ .boxLogin
    {
        display: flex;
    }
    #check
    {
    display: none;
    }

}

.background
{
    position: fixed;
    top: 80px;
    background-image: url("home.jpg");
    background-size: cover;
    opacity: .5;
    z-index: -1000; /*layer*/
    width: 100%;
    height: 100%;
}

.content 
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 200px;
    align-items: center;
}

.content h1
{
    font-size: 40px;
    font-weight: bolder;
}

.content h3
{
    font-weight: lighter;
}

.content h4 a
{
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    background-color: #38abab;
    transition: .5s;
}

.content h4 a
{
    text-decoration: none;
    color: white;
}

.content h4:hover
{
    transform: scale(1.1);
    transition: .5s;
}
.foot
{
    margin-bottom: 0px;
    position: absolute;
    margin-top: 180px;
    padding: 20px;
    width: 100%;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 10px 6px 6px;
}

.social-media
{
    display: flex;
    align-items: center;
    padding-left: 400px;
    /* padding-right: 500px; */
}

.foot .social-media .twitter a
{
    opacity: 0.5;
}

.twitter
{
    margin-right: 40px;
}


.facebook
{
    z-index: 1000;
}
.instagram
{
    z-index: 0;
}
.foot .social-media .twitter a:hover
{
    opacity: 1;
}


.foot .social-media .facebook
{
    opacity: 0.5;
    margin-left: -110px;
}

.foot .social-media .facebook:hover
{
    opacity: 1;
    
}

.foot .social-media .instagram:hover
{
    opacity: 1;
    
}

.foot .social-media .instagram
{
    opacity: 0.5;
    /* margin-top: -16px; */
    margin-left: -450px;
    /* margin-right: 100px ; */
}

.foot .social-media .twitter img
{
    /* margin-top: 10px; */
    /* margin-left: -150px; */
    height: 30%;
    width: 30%;
}

.foot .social-media .facebook img
{
    /* margin-top: -150px; */
    height: 5%;
    width: 5%;
}

.foot .social-media .instagram img
{
    /* margin-top: -100px;
    margin-right: -150px; */
    height: 5%;
    width: 5%;
}

.foot .copyright li
{
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}
